/* Main styles============== */

html {
    font-size: 15px;
  }
  
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

  
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.main {
  padding: 0 20px;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__image {
  width: 100%;
  max-width: 311px;
  height: auto;
  margin-top: 40px;
}

.main__logo__img {
  margin: 0 auto;
  margin-top: 40px;
  display: block;
  max-width: 91px;
  width: 100%;
  height: auto;
}

.download__icons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.download__icons img {
  max-width: 135px;
  width: 100%;
  height: auto;
  display: block;
}

.download__icons a img:first-child {
  margin-right: 8px;
}

.text__block {
  max-width: 545px;
  bottom: 19px;
  color: #788183;
  font-size: 13px;
  margin: 60px auto 20px;
}

.text__block a {
  color: #788183;
}

.text__block p:first-child {
  margin-bottom: 5px;
}


